<webobject name = "wrap">
  <body onload = "openLoginDialog();">
    <div metal:fill-slot = "contenu">
      <div id = "begin" style = "display:none;">
        <!--  style="display:none;" -->
        <div align = "center">
          <table>
            <tr>
              <td valign = "middle"><webobject name = "imgLogo" /></td>
              <td valign = "middle" class = "mainTitle">&nbsp;DOSSIER ETUDIANTS<webobject name = "strComment" /></td>
            </tr>
            <tr>
              <td colspan = "2"></td>
            </tr>
          </table>
          <webobject name = "imgLigneJaune" />
        </div>
        <center>
          <!-- Identifier vous -->
          &nbsp;<br />
          &nbsp;<br />
          <table border = "0">
            <tr valign = "middle">
              <td><webobject name = "imgClefs" /></td>
              <td class = "title">&nbsp;Identifiez vous...</td>
            </tr>
          </table>
          <!-- Line -->
          <hr color = "#0069b3" style = "filter:alpha(opacity=100, finishopacity=0,style=1 )" width = "70%" />
          <!-- Login -->
          <webobject name = "LgnLogin1" />
          <!-- Line -->
          <hr color = "#0069b3" style = "filter:alpha(opacity=100, finishopacity=0,style=1 )" width = "70%" />
          <!-- Bas page -->
          <div style = "font-size:small;">
            <i>Si vous avez un probl&egrave;me pour vous connecter &agrave; l'application,<br />
              vous pouvez cr&eacute;er une demande en envoyant un message<br />
              au responsable concern&eacute;.<br />
              <br />
            </i>
          </div>
        </center>
        <p>&nbsp;</p>
        <p align = "center" class = "textNote"> <webobject name = "strCopy" /> </p>
      </div>
    </div>
    <!-- fin contenu -->
  </body>
</webobject>