<style type = "text/css">

.overlay_mac_os_x {
	background-color: #85BBEF;
	-moz-opacity: 0.6;
	opacity: 0.6;
}

.mac_os_x_nw {
	background: transparent url(<webobject name="TLMain"></webobject>) no-repeat 0 0;			
  width:24px;
  height:30px;
}

.mac_os_x_n {
  background: transparent url(<webobject name="TMain"></webobject>) repeat-x 0 0;			
  height:30px;
}

.mac_os_x_ne {
  background: transparent url(<webobject name="TRMain"></webobject>) no-repeat 0 0;			
  width:31px;	  
  height:30px;
}

.mac_os_x_w {
  background: transparent url(<webobject name="LMain"></webobject>) repeat-y top left;			
  width:16px;
}

.mac_os_x_e {
  background: transparent url(<webobject name="RMain"></webobject>) repeat-y top right;			
  width:16px;	  
}

.mac_os_x_sw {
  background: transparent url(<webobject name="BLMain"></webobject>) no-repeat 0 0;			
  width:31px;
  height:40px;
}

.mac_os_x_s {
  background: transparent url(<webobject name="BMain"></webobject>) repeat-x 0 0;			
  height:40px;
}

.mac_os_x_se, .mac_os_x_sizer {
  background: transparent url(<webobject name="BRMain"></webobject>) no-repeat 0 0;			
  width:31px;
  height:40px;
}

.mac_os_x_sizer {
	cursor:se-resize;	
}

.mac_os_x_close {
	width: 19px;
	height: 19px;
	background: transparent url(<webobject name="Close"></webobject>) no-repeat 0 0;			
	position:absolute;
	top:12px;
	left:25px;
	cursor:pointer;
	z-index:1000;
}

.mac_os_x_minimize {
	width: 19px;
	height: 19px;
	background: transparent url(<webobject name="Minimize"></webobject>) no-repeat 0 0;			
	position:absolute;
	top:12px;
	left:45px;
	cursor:pointer;
	z-index:1000;
}

.mac_os_x_maximize {
	width: 19px;
	height: 19px;
	background: transparent url(<webobject name="Maximize"></webobject>) no-repeat 0 0;			
	position:absolute;
	top:12px;
	left:65px;
	cursor:pointer;
	z-index:1000;
}

.mac_os_x_title {
	float:left;
	height:14px;
	font-family: Tahoma, Arial, sans-serif;
	font-size:12px;
	text-align:center;
	margin-top:8px;
	width:100%;
	color:#000;
}

.mac_os_x_content {
	overflow:auto;
	color: #222;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 10px;
	background:#FFF;
}

</style>