<webobject name = "LoginDefaultPage1">
  <div align = "center">
    <table>
      <tr>
        <td align = "right" valign = "middle"><webobject name = "imgLogo" /></td>
        <td align = "center" valign = "middle" class = "mainTitle">&nbsp;DOSSIER ETUDIANTS <webobject name = "strComment" /></td>
      </tr>
      <tr>
        <td colspan = "2"></td>
      </tr>
    </table>
    <webobject name = "imgLigneJaune" />
  </div>
  <center>
    &nbsp;<br />
    &nbsp;<br />
    <table border = "0" width = "65%">
      <tr>
        <td align = "center">
          <hr color = "#0069b3" style = "filter:alpha(opacity=100, finishopacity=0,style=1 )" />
          <font class = "title">
            <webobject name = "linkLogin">Acc&eacute;der &agrave;
              l'application<br />Dossier-Etudiants</webobject>
          </font>
          <br />
          <br />
          Une authentification sera demand&eacute;e si<br />
          vous vous connectez pour la premi&egrave;re fois 
          <hr color = "#0069b3" style = "filter:alpha(opacity=100, finishopacity=0,style=1 )" />
        </td>
      </tr>
    </table>
    <!-- Bas page -->
  </center>
  <p>&nbsp;</p>
  <p align = "center" class = "textNote"> <webobject name = "strCopy" /> </p>
</webobject>